@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables";

* {
  box-sizing: border-box;
}

:host {
  color: var(--md-primary-text-color, var(--color-gray-100));
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  margin: 12px;
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.18);
}

.profile-bound.default-template {
  display: grid;
  grid-template-columns: 240px calc(100% - 240px);
  grid-template-rows: 100%;
  grid-template-areas: "pane content";
  height: calc(100% - 3rem);
}

.outer-container {
  height: 100%;

  .inner-header {
    border-bottom: 0;
  }

  .header {
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray-30);
    font-size: 1rem;
    font-weight: bold;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
  }
}

.spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header .spinner-container {
  width: 1.75rem;
  height: 1.75rem;
}

profile-view {
  border-right: 1px solid var(--color-gray-30);
}

.customer-journey {
  grid-area: content;

  md-tabs {
    height: calc(100% - 3rem);
    --tab-list-border: 1px solid var(--color-gray-30);
  }

  md-tab {
    --tabs-default-active-border: #007aa3;
    --tabs-default-border-color: var(--color-gray-30);
  }

  md-tab-panel {
    padding: 0.75rem;
  }
  cjs-activity-stream {
    height: 100%;
  }
  md-badge {
    margin-left: .5rem;
  }
  md-badge::part(badge) {
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    background-color: var(--md-tertiary-bg-color, var(--color-gray-10));
    color: var(--md-secondary-text-color, var(--color-gray-100));
  }
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  word-break: break-word;
}

.full-height {
  height: 100%;
}

.empty-state {
  height: 100%;
}
