@mixin secondary-background {
  background-color: var(--md-secondary-bg-color, #f7f7f7);
}

@mixin secondary-text {
  color: var(--md-secondary-text-color, #545454);
}

@mixin primary-text {
  color: var(--md-primary-text-color, #121212);
}

@mixin body-regular {
  font-size: 14px;
  line-height: 150%;
}

@mixin body-small-regular {
  font-size: 12px;
  line-height: 150%;
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-t-2 {
  margin-top: 2px;
}
.m-b-2 {
  margin-bottom: 2px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.m-t-16 {
  margin-top: 16px;
}
.m-b-16 {
  margin-bottom: 16px;
}
.w-30-per {
  width: 30%;
}
