@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables";

* {
  box-sizing: border-box;
}

:host {
  padding: 12px;
  display: block;
  color: var(--md-secondary-text-color, #545454);
}

.spinner-container {
  display: flex;
  height: 120px;
  width: 240px;
  align-items: center;
  justify-content: center;
}

md-icon {
  cursor: pointer;
  margin: 0 8px;
}

.name-container {
  font-size: 19px;
  font-weight: 700;
}

.targets {
  margin-top: 24px;
  padding-left: 12px;
  & > md-dropdown {
    margin: 0 12px;
  }
}

.webhook-target {
  md-dropdown {
    display: block;
    margin: 24px 0;
  }
}

.targets-readonly {
  margin-top: 12px;
  .target-summary {
    margin: 4px 0;
  }
}

.target-container {
  display: flex;
}

.cta {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
}

.intend {
  padding-left: 24px;
}

.edit-button {
  margin: 12px 0;
}

.summary {
  font-size: 12px;
  color: var(--md-primary-text-color, #121212);
  margin: 12px 0;
  .static {
    font-style: italic;
  }
  .title {
    margin-bottom: 16px;
    font-weight: 700;
  }
  .operator {
    color: var(--md-secondary-text-color, #545454);
  }
  .field {
    font-weight: 500;
    color: var(--md-hyperlink-text-color, #005e7d);
  }
}

.header-row {
  padding-left: 12px;
}
